*{
margin: 0;
padding: 0;
box-sizing: border-box;



}
#wraper{

    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container{
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
z-index: -1;
}
.background,.foreground{position: absolute;
    height: 100%;
    width: 100%;
object-fit: cover;
    z-index: -1;
}
.background{
    transform: translateZ(-40px) scale(5);
  
}
.foreground{
transform: translateZ(-20px) scale(3);
}