*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box
{
    background-color: aqua;
    
}
.cont{
    display: grid;
    background-color: yellow;
    height: 500px;
border: 1px solid black;
grid-template-rows: repeat(5,1fr);
grid-template-columns: repeat(6 ,1fr);
gap: 5px;


}
#box1{
  
}